html {
    --colorBackground: #f4f4f8;
    --colorBox: #ffffff;
    --colorBorderBox: #2c2c3a1c;
    --colorSnake: #3cfd93;
    --colorHead: #3cfd93;
    --colorFood: #f36565;
    --colorButtonPrimary: #3cfd93;
    --colorButtonSecondary: #f36565;
    --colorButtonTertiary: #3cfd93;
    --colorButtonTertiaryDarker: #27d374;
    --colorMessage: #ffeb33;
    --colorSettingsBox: #252533;
    --colorScreenMask: #00000054;
    --colorText: #ffffff;
    --colorItemActived: #ffeb33;
    --colorItemDesactived: #c7c7d3;

    /* --colorBackground: #262633;
    --colorBox: #2d2d3d;
    --colorBorderBox: #2c2c3a4d;
    --colorSnake: #3cfd93;
    --colorHead: #3cfd93;
    --colorFood: #f36565;
    --colorButtonPrimary: #25c080;
    --colorButtonSecondary: #e05b5b;
    --colorButtonTertiary: #3cfd93;
    --colorButtonTertiaryDarker: #27d374;
    --colorMessage: #ffd700;
    --colorSettingsBox: #252533;
    --colorScreenMask: #00000054;
    --colorText: #ffffff;
    --colorItemActived: #ffeb33;
    --colorItemDesactived: #c7c7d3; */

    font-size:60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--colorBackground);

    font-size: 140%;
    font-weight: 500;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-top {
    position: fixed;
    top: 2rem;
    right: 2rem;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.menu-top #statusGame {
    color: var(--colorButtonPrimary);

    font-size: 2.5rem;

    cursor: pointer;

    padding: .6rem;

    border: 2px var(--colorButtonPrimary) solid;

    border-radius: .8rem;
}

.menu-top .container-set-theme .button-set-theme {
    width: 1rem;
    height: 1rem;
    margin-left: 1.1rem;
    display: none;
    cursor: pointer;
}

.menu-top .fa-apple-alt {
    color: var(--colorButtonSecondary);

    font-size: 3.5rem;

    margin-left: 3rem;
}

.menu-top .ponctuation {
    color: var(--colorButtonSecondary);
    font-size: 1.8rem;

    margin-left: .2rem;

    animation-name: ponctuation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes ponctuation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.menu-top .container-set-theme .theme-toggle {
    width: 50px;
    height: 30px;
    margin-left: 1.5rem;
    background-color: var(--colorButtonPrimary);
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer;
}

.menu-top .container-set-theme .button-set-theme:checked+.theme-toggle:after {
    left: calc(100% - 33px);
    background-color: transparent;
    border-right-width: 6px;
    border-right-color: var(--colorBackground);
    cursor: pointer;
}

.menu-top .container-set-theme .button-set-theme+.theme-toggle:after {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.menu-top .container-set-theme .theme-toggle:after {
    width: 22px;
    height: 22px;
    display: block;
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: var(--colorBackground);
    border-radius: 50%;
    border: 0px solid var(--colorBorderBox);
    cursor: pointer;
}

#box {
    width: 420px;
    height: 420px;

    background-color: var(--colorBox);
    border: 2px var(--colorBorderBox) solid;
    border-radius: 2%;

    box-shadow: 3px 3px 11px 3px rgba(0, 0, 0, .15);
}

.screen-mask {
    position: fixed;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: var(--colorScreenMask);
}


/* SETTINGS */
.settings-container {
    display: flex;
}

.settings-container .settings-box {
    position: relative;

    z-index: 1;

    width: 550px;
    height: 350px;

    background-color: var(--colorSettingsBox);

    border: 1px #2f2f41 solid;
    border-radius: 1.4rem;
}

.settings-container .settings-box .settings-menu-top {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    flex-direction: row;
    
    padding: 0 2rem;
    width: 100%;

    border-bottom: 1px #2f2f41 solid;
}

.settings-container .settings-box .settings-menu-top .item {
    color: var(--colorItemDesactived);

    padding: 2rem 1rem;

    cursor: pointer;

    transition: color .2s;
}

.settings-container .settings-box .settings-menu-top .item:hover {
    color: var(--colorText);
}

.settings-container .settings-box .settings-menu-top .item+.item {
    margin-left: 2rem;
}

.settings-container .settings-box .settings-menu-top .active {
    color: var(--colorItemActived);
    border-bottom: 2px var(--colorItemActived) solid;

    cursor: default;
}

.settings-container .settings-box .settings-menu-top .active:hover {
    color: var(--colorItemActived);
}

.settings-container .settings-box .settings-box-footer {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end;

    width: 100%;
    padding: 2rem;
}

.settings-container .settings-box .settings-box-footer .button-start-game {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 3rem;

    cursor: pointer;

    background-color: var(--colorButtonTertiary);
    color: var(--colorSettingsBox);
    border: none;
    border-radius: .8rem;

    transition: .3s;
}

.settings-container .settings-box .settings-box-footer .button-start-game:hover {
    background-color: var(--colorButtonTertiaryDarker);
}

.settings-container .settings-box .settings-box-footer .button-start-game:focus {
    outline: none;
}

/* GAME STATUS */
.game-start-container p {
    color: var(--colorMessage);

    cursor: default;

    animation-name: start;
    animation-iteration-count: infinite;
    animation-duration: 1s;

    display: flex;
    align-items: center;
}

.game-start-container p i {
    font-size: 9px;
}

@keyframes start {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

.game-paused-container p {
    color: var(--colorMessage);

    cursor: default;

    animation-name: paused;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes paused {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.game-over-container .game-over {
    color: var(--colorMessage);

    cursor: default;
    font-size: 20px;
    font-weight: 200;
}    

.game-over-container .press-to-continue {
    animation-name: game-over;
    animation-iteration-count: infinite;
    animation-duration: .4s;

    font-size: 12px;
    font-weight: 100;
    cursor: default;

    color: white;

    margin-top: 6px;
}

@keyframes game-over {
    0% {
      opacity: 0%;
    }

    50% {
      opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}